/*GRID SYSTEM*/

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body { overflow-x: hidden !important;}

body {
  margin: 0;
}

/*Clearing*/
.container:after,
.row:after,
.u-cf {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  margin: 0;
}

.col {
  float: left;
  min-height: 100px;
  /*padding: 1%;*/
  border: 1px solid black;
}

.col-1 {
  width: 8.3333333333333%;
  width: calc(100%*(1/12));
}

.col-2 {
  width: 16.666666666666%;
  width: calc(100%*(2/12));
}

.col-3 {
  width: 25%;
  width: calc(100%*(3/12));
}

.col-4 {
  width: 33.33333333333%;
  width: calc(100%*(4/12));
}

.col-5 {
  width: 41.6666666666%;
  width: calc(100%*(5/12));
}

.col-6 {
  width: 50%;
  width: calc(100%*(6/12));
}

.col-7 {
  width: 58.3333333333%;
  width: calc(100% *(7/12));
}

.col-8 {
  width: 66.666666666%;
  width: calc(100%*(8/12));
}

.col-9 {
  width: 75%;
  width: calc(100%*(9/12));
}

.col-10 {
  width: 83.333333333%;
  width: calc(100% * (10/12));
}

.col-11 {
  width: 91.666666666%;
  width: calc(100% * (11/12));
}

.col-12 {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-one-third {
  width: 33.333333333%;
  width: calc(100%*(4/12));
}

.col-two-thirds {
  width: 66.666666666%;
  width: calc(100%*(8/12));
}

.offset-col-1 {
  margin-left: 8.3333333333333%;
  margin-left: calc(100%*(1/12));
}

.offset-col-2 {
  margin-left: 16.666666666666%;
  margin-left: calc(100%*(2/12));
}

.offset-col-3 {
  margin-left: 25%;
  margin-left: calc(100%*(3/12));
}

.offset-col-4 {
  margin-left: 33.33333333333%;
  margin-left: calc(100%*(4/12));
}

.offset-col-5 {
  margin-left: 41.6666666666%;
  margin-left: calc(100%*(5/12));
}

.offset-col-6 {
  margin-left: 50%;
  margin-left: calc(100%*(6/12));
}

.offset-col-7 {
  margin-left: 58.3333333333%;
  margin-left: calc(100% *(7/12));
}

.offset-col-8 {
  margin-left: 66.666666666%;
  margin-left: calc(100%*(8/12));
}

.offset-col-9 {
  margin-left: 75%;
  margin-left: calc(100%*(9/12));
}

.offset-col-10 {
  margin-left: 83.333333333%;
  margin-left: calc(100% * (10/12));
}

.offset-col-11 {
  margin-left: 91.666666666%;
  margin-left: calc(100% * (11/12));
}

.offset-one-third {
  margin-left: 33.33333333333%;
  margin-left: calc(100% * (4/12));
}

.offset-two-thirds {
  margin-left: 66.66666666666%;
  margin-left: calc(100% * (8/12));
}

.offset-one-half {
  margin-left: 50%;
  margin-left: calc(100% * (6/12));
}

/* Phone size*/
@media (max-width: 760px) {

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-12 {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 761px) {

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.3333333%;
    width: calc(100%*(4/12));
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-8 {
    width: 66.6666667%;
    width: calc(100%*(8/12));
  }

  .md-col-12 {
    width: 100%;
  }
}

/* Apply these styles if the browser's width is less than 300px */
@media (max-width: 300px) {

  html, body {
    font-size: 12px;
  }

  img {
    display: none;
  }

}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* Additional styling */

/* Text */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

.small-text {
  font-size: 0.7rem;
}

/* General */

.btn {
  background: #06A57B;
  /*background-image: -webkit-linear-gradient(top, #06A57B, #08D19B);
  background-image: -moz-linear-gradient(top, #06A57B, #08D19B);
  background-image: -ms-linear-gradient(top, #06A57B, #08D19B);
  background-image: -o-linear-gradient(top, #06A57B, #08D19B);
  background-image: linear-gradient(to bottom, #06A57B, #08D19B);*/
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 34px 10px 34px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #1B5C99;
  background-image: -webkit-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -moz-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -ms-linear-gradient(top, #1B5C99, #012D5E);
  background-image: -o-linear-gradient(top, #1B5C99, #012D5E);
  background-image: linear-gradient(to bottom, #1B5C99, #012D5E);
  text-decoration: none;
}

/* Heading */
.nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 1.5rem;
  box-shadow: 0 0 40px 0 rgba(51,73,94,.15);
}

.nav a{
  color: #06A57B;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover{
  color: #1B5C99;
}

.menu {
  padding-right: 30px;
}

.landingPage {
  background-image: url(https://images.unsplash.com/photo-1467455695826-cb420759ce56?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=f006cd54485bb78e6116d90e942ae21e);
  background-size: cover;
  background-position: 0px 15%;
  position: relative;
  height: 50rem;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translate(0%, 2.82068%) translate3d(0px, 0px, 0px);
  backface-visibility: hidden;
  filter: brightness(60%);
}

.section-one {
  height: 50rem;
}

.section-two {
  height: 35rem;
  color: #012D5E;
}

.section-three {
  left: 0px;
  height: 40rem;
  background: #06A57B;
  background-size: auto 100%;
  color: #fff;
}

.section-four {
  height: 40rem;
  background: #FFF;
  color: #012D5E;
}

.section-footer {
  height: 25rem;
  background: #012D5E;
  color: #fff;
}

/* body */

.body-one {
  padding: 4rem 0;
  background-color: #fff;
}

.body-two {
  padding: 4rem 0;
}

.body-three {
  padding: 2rem 0;
}

.footer {
  padding: 1rem 0;
}

/* Intro */
.intro {
  z-index: 3;
  top: 46%;
  transform: translateY(-42%);
  position: relative;
  color: #FFF;
}

.intro-title {
  line-height: 1.1;
  font-size: 3.3rem;
  letter-spacing: -1px;
}

.signup {
  background: #fff;
  border-radius: 6px;
  padding: 1.35rem 2rem 1.45rem;
  border: none;
  position: relative;
}

.signup h2 {
  color: #012D5E;
}

.signup input {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.user-story {
  background-image: url( http://www.edinburghworldwritersconference.org/wp-content/uploads/2013/04/Haddad-360px.jpg);
  background-size: cover;
  background-position: 0px 15%;
  position: relative;
}
